body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: rgb(229, 229, 229);
}

hr {
    border: 2px solid rgb(52, 52, 52);
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.action_line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login_header {
    background-color: #cf8fd5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
}

.login_header h1 {
    font-size: 2.5rem;
    margin: 0.5rem;
    font-style: italic;
    color: rgb(63, 58, 52);
}

.login_info {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.login_info span {
    font-weight: 500;
    font-size: 1.5rem;
}

.search_field {
    width: 100%;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
}

.search_field input {
    width: 12rem;
}

.results_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.25rem;
}

.results_box a {
    text-decoration: none;
    color: gray;
    font-size: 1.2rem;
    transition: color 0.3s, font-size 0.5s;
}

.results_box a:hover {
    color: #2b2a2c;
    font-size: 1.5rem;
}

a {
    color: #3D3678;
    transition: color 0.3s;
}

a:hover {
    color: #7f78c9;
}

.normal_link {
    font-weight: 600;
    text-decoration: none;
}

.login_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

#input_field {
    display: inline;
    font-style: italic;
    height: 1.5rem;
    border: 2px solid gray;
    padding-left: 0.25rem;
    border-radius: 0.25rem;
    transition: box-shadow 0.2s;
}

#input_field:hover {
    cursor: text;
    box-shadow: 2px 2px 2px black;
}

#search_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 1rem;
    height: 1.8rem;
    width: 2rem;
    border: 2px solid gray;
    border-radius: 0.25rem;
    transition: box-shadow 0.2s, background-color 0.3s;
}

#search_button:hover {
    cursor: pointer;
    background-color: rgb(179, 179, 179);
    box-shadow: 1px 1px 2px black;
}

#input_content {
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid gray;
    padding-left: 0.25rem;
    border-radius: 0.25rem;
    transition: box-shadow 0.2s;
}

#input_content:hover {
    cursor: text;
    box-shadow: 2px 2px 2px black;
}

.article_container {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    background-color: white;
}

.article_box {
    margin-bottom: 1.25rem;
    background-color: white;
    padding: 1.5rem;
}

.article_box h2 {
    color: #3D6783;
    margin-bottom: 0.5rem;
}

.article_box .article_info {
    color: gray;
    font-style: italic;
}

.article_content {
    font-size: 1.3rem;
    max-width: 900px;
}

.article_info {
    margin-bottom: 2rem;
}

.action_box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 2rem;
    padding: 1rem;
    justify-content: start;
}

.action_box2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 50px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.fields_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
}

#action_login {
    font-style: italic;
    background-color: #cf8fd5;
    width: 60px;
    padding: 6px;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
    display: flex;
    justify-content: center;
}

#action_login:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    background-color: #8a608e;
    color: white;
}

#action_return {
    color: black;
    background-color: #cf8fd5;
    width: 80px;
    padding: 0.625rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
    display: flex;
    justify-content: center;
}

#action_return:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    background-color: #7e5981;
    color: white;
}

#action_create {
    background-color: #a5e6e1;
    color: black;
    padding: 8px;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
}

#action_create:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(0, 110, 110);
    color: white;
}

#action_save {
    background-color: #B39EB5;
    color: black;
    border: none;
    width: 5rem;
    font-size: 1rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
}

#action_save:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    background-color: #7c6b7d;
    color: white;
}

#action_delete {
    background-color: #ff463c;
    color: black;
    border: none;
    display: flex;
    justify-content: center;
    width: 80px;
    font-size: 16px;
    padding: 0.625rem;
    border-radius: 0.25rem;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
}

#action_delete:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(193, 33, 33);
    color: white;
}

#action_edit {
    background-color: #ffa34c;
    color: black;
    border: none;
    display: flex;
    justify-content: center;
    width: 80px;
    font-size: 16px;
    padding: 0.625rem;
    border-radius: 0.25rem;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
}

#action_edit:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(180, 98, 21);
    color: white;
}

.upload_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

#action_upload {
    background-color: #8bc7ff;
    color: black;
    border: none;
    width: 6.5rem;
    font-size: 0.9rem;
    padding: 0.625rem;
    border-radius: 0.25rem;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
}

#action_upload:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    background-color: #4f6f8d;
    color: white;
}

#input_image {
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.25rem;
    width: 360px;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: box-shadow 0.3s;
}

#input_image:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}

.delete_title {
    margin-bottom: 2.5rem;
}

#error {
    color: red;
    font-size: 20px;
}

#test {
    background-color: black;
    font-family: monospace;
    color: yellow;
}