body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
}

.article_box {
    margin-bottom: 70px;
}

.article_text {
    font-size: 18px;
    width: 900px;
}

.article_margin_left {
    margin-left: 10px;
}

.action_box {
    display: flex;
    justify-content: space-evenly;
}

#action_return {
    background-color: purple;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.4s;
}

#action_return:hover {
    background-color: rgb(97, 0, 97);
}

#return_button {
    color: white;
    text-decoration: none;
}

#error {
    color: red;
}

#test {
    background-color: black;
    font-family: monospace;
    color: yellow;
}