body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#error {
    color: red;
}

#test {
    background-color: black;
    font-family: monospace;
    color: yellow;
}