body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
}

.article_box {
    margin-left: 40px;
    margin-bottom: 70px;
}

.article_text {
    font-size: 18px;
    width: 900px;
}

.article_margin_left {
    margin-left: 10px;
}

#error {
    color: red;
}

#test {
    background-color: black;
    font-family: monospace;
    color: yellow;
}