body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 20px;
    color: #3D3678;
}

a {
    color: #3D3678;
    transition: color 0.3s;
}

a:hover {
    color: #6D67AB;
}

.normal_link {
    font-weight: 600;
    text-decoration: none;
}

.header {
    width: 100%;
}

.login_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

#input_field {
    display: inline;
    font-style: italic;
    height: 20px;
    border: 2px solid gray;
    padding-left: 4px;
    border-radius: 4px;
    transition: box-shadow 0.2s;
}

#input_field:hover {
    cursor: text;
    box-shadow: 2px 2px 2px black;
}

#input_content {
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid gray;
    padding-left: 4px;
    border-radius: 4px;
    transition: box-shadow 0.2s;
}

#input_content:hover {
    cursor: text;
    box-shadow: 2px 2px 2px black;
}

.article_container {
    display: flex;
    flex-direction: row;
}

.article_box {
    margin-bottom: 70px;
}

.article_text {
    font-size: 18px;
    width: 900px;
}

.article_margin_left {
    margin-left: 10px;
}

.action_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
}

.action_box2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.fields_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
}

#action_login {
    font-style: italic;
    background-color: #B39EB5;
    width: 60px;
    padding: 6px;
    border: 2px solid #352154;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
    display: flex;
    justify-content: center;
}

#action_login:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    background-color: #635764;
    color: white;
}

#action_return {
    color: black;
    background-color: rgb(201, 0, 201);
    width: 80px;
    padding: 6px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
    display: flex;
    justify-content: center;
}

#action_return:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(97, 0, 97);
    color: white;
}

#action_create {
    background-color: cyan;
    color: black;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
}

#action_create:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(0, 110, 110);
    color: white;
}

#action_save {
    background-color: rgb(0, 255, 0);
    color: black;
    border: none;
    width: 80px;
    font-size: 16px;
    padding: 6px;
    border-radius: 4px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
}

#action_save:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(0, 138, 0);
    color: white;
}

#action_delete {
    background-color: rgb(255, 0, 0);
    color: black;
    border: none;
    display: flex;
    justify-content: center;
    width: 80px;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
}

#action_delete:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(150, 0, 0);
    color: white;
}

#action_edit {
    background-color: rgb(255, 132, 0);
    color: black;
    border: none;
    display: flex;
    justify-content: center;
    width: 80px;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
}

#action_edit:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(163, 79, 0);
    color: white;
}

.delete_title {
    margin-bottom: 40px;
}

#error {
    color: red;
    font-size: 20px;
}

#test {
    background-color: black;
    font-family: monospace;
    color: yellow;
}